table {
border: medium solid #6495ed;
/*border-collapse: collapse;*/
/*width: 50%;*/
margin-left:auto;
margin-right:auto;
}

th {
  background-color: #4CAF50;
  color: white;
}



td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}


